.singOut {
    width: 150px;
    height: 40px;
    border: none;
    color: #fff;
    border-radius: 8px;
    background: #00BBEE;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}